<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
        Good Old Software Philosophy
      </div>
      <div class="description">
        <blockquote class="blockquote">
          <h5>
          “Daddy, how is software made?” <br/> &nbsp; Well, when a programmer loves an idea very much they stay up all night and then push to github the next day.
          </h5>
        </blockquote>
        <p> — Sam Kottler</p>

      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <!-- <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
      <i class="ion-ios-world"></i>
    </a>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <i class="ion-social-github"></i>
    </a> -->
  </nb-card-footer>
</nb-card>
