<div class="row">
  <div class="col-md-12 col-xxl-12">
    <div class="row">

      <div class="col-md-12 col-xxl-12">
        <nb-card size="medium">
          <nb-card-header>
            <h3>Hello There!</h3>
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary"
            style="max-width:70vw; padding:auto; margin:auto">
              <div class="font-row font-secondary">

                <div style="text-align: center">
                  <img class="profile-pic" src="assets/images/shwshank.jpg" alt="Avatar" style="">
                  <h5>Shashank Bhattacharya</h5>
                  <!-- <p> <b> UX | Javascript | Angular | Data Visualization | TDD | Nodejs</b></p> -->
                </div>
                <blockquote class="blockquote">
                  <p class="mb-0">  &nbsp; I have more than 4years of experience in building interactive web applications and an active community member of opensource projects.
                </blockquote>

                <blockquote class="blockquote">
                  <p class="mb-0"> &nbsp;
                    I have worked on a few SaaS projects and some of existing modules which I migrated on advanced platforms. Most of the time I have worked on front-end analyzing optimal user experience, and sometimes developing backend applications.


                </blockquote>

                <blockquote class="blockquote">
                  <p class="mb-0"> &nbsp; Ambitious computer enthusiast with strong experience in building pixel perfect interactive data visualization web apps and an active contributor of opensource.
                </blockquote>


              </div>
            </div>
          </nb-card-body>
        </nb-card>


      </div>

      <div class="col-md-8 col-xxl-8">
        <ngx-pics></ngx-pics>
      </div>

      <div class="col-md-4 col-lg-4 col-xxxl-4">
        <nb-card size="large" style="height:694px !important">
          <nb-card-header>
            Software Designing Motivation
          </nb-card-header>
          <nb-card-body>
            <nb-stepper orientation="vertical">
              <nb-step label="First step">
                <h3>Motivation #1</h3>
                <h4>
                  When I’m working on a problem, I never think about beauty. I think only how to solve the problem. But when I have finished, if the solution is not beautiful, I know it is wrong.
                </h4>
                <p> — Bertrand Meyer</p>
                <button nbButton disabled nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Second step">
                <h3>Motivation #2</h3>
                <h4>
                  Measuring programming progress by lines of code is like measuring aircraft building progress by weight.
                </h4>
                <p> — Bill Gate</p>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Third step">
                <h3>Motivation #3</h3>
                <h4>
                  Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
                </h4>
                <p> — John F. Woods</p>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Fourth step">
                <h3>Motivation #4</h3>
                <h4>
                  Programming is like sex. One mistake and you have to support it for the rest of your life.
                </h4>
                <p> — Michael Sinz</p>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton disabled nbStepperNext>next</button>
              </nb-step>
            </nb-stepper>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-md-12 col-xxl-12">
        <nb-card size="small">
          <nb-card-header>
            <h4>Get in touch</h4>
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary"
            style="max-width:70vw; padding:auto; margin:auto">
              <div class="font-row font-secondary text-center">
                <br>
                <h5> Drop me a message </h5>
                <br><br>
                <img class="imageclick" src="assets/images/github.png" height="40px" alt="" title="shwshank3" target="_blank" (click)="github()">
                 &nbsp;  &nbsp;
                <img class="imageclick" src="assets/images/stackoverflow.png" height="40px" alt="" (click)="stackoverflow()">
                 &nbsp;  &nbsp;
                <img class="imageclick" src="assets/images/linkedin.png" height="40px" alt=""
                (click)="linkedin()">
                <br><br>
                <h5>Shwshank3@gmail.com </h5>
              </div>
            </div>
          </nb-card-body>
        </nb-card>


      </div>

    </div>
  </div>
