<div class="row">
  <div class="col-xxxl-8">
    <div class="row">

      <div class="col-md-12 col-xxl-12">
        <nb-card size="medium">
          <nb-card-header>
            <h3>Hello There!</h3>
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary"
            style="max-width:70vw; padding:auto; margin:auto">
              <div class="font-row font-secondary">

                <div style="text-align: center">
                  <img class="profile-pic" src="assets/images/shwshank.jpg" alt="Avatar" style="">
                  <h5>Shashank Bhattacharya</h5>
                </div>
                <blockquote class="blockquote">
                  <p class="mb-0">  &nbsp; I am soo glad that you are stopping by & I can't be more excited to show you my profile.
                  I am a Javascript developer & I've created this protal to show case my skill. Please get in touch for anything else
                </blockquote>

                <blockquote class="blockquote">
                  <p class="mb-0"> &nbsp;
                  I am enjoying my profile i.e being a JS developer. I've tuned up this open sourse portal
                  in a way so that I could showcase some of the projects that I've worked over the time.
                </blockquote>

                <blockquote class="blockquote">
                  <p class="mb-0"> &nbsp; A berif introduction is mentioned on the projects and related technologies that I've
                  worked and working so far.

                </blockquote>


              </div>
            </div>
          </nb-card-body>
        </nb-card>


      </div>

      <div class="col-md-6 col-xxl-6" >
        <nb-card size="small" class="headings-card">
          <nb-card-header>
            Social media
          </nb-card-header>
          <nb-card-body>

          </nb-card-body>
        </nb-card>

        <nb-card size="small" class="headings-card">
          <nb-card-header>
            Headings
          </nb-card-header>
          <nb-card-body>

          </nb-card-body>
        </nb-card>


      </div>

      <div class="col-md-6 col-lg-6 col-xxxl-6">
        <nb-card size="large" style="height:694px !important">
          <nb-card-header>
            Motivation behind the seens
          </nb-card-header>
          <nb-card-body>
            <nb-stepper orientation="vertical">
              <nb-step label="First step">
                <h3>Step content #1</h3>
                <p class="lorem">
                  Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                  sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                  viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                  placerat quis, lobortis in ligula.
                </p>
                <button nbButton disabled nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Second step">
                <h3>Step content #2</h3>
                <p class="lorem">
                  Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                  sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                  eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                </p>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Third step">
                <h3>Step content #3</h3>
                <p class="lorem">
                  Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                  sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                  viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                  placerat quis, lobortis in ligula.
                </p>
                <p class="lorem">
                  Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                  sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                  eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                </p>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Fourth step">
                <h3>Step content #4</h3>
                <p class="lorem">
                  Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                  sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                  viverra ex.
                </p>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton disabled nbStepperNext>next</button>
              </nb-step>
            </nb-stepper>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-md-12 col-xxl-12">
        <nb-card size="small">
          <nb-card-header>
            <h4>Let's get in touch</h4>
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary"
            style="max-width:70vw; padding:auto; margin:auto">
              <div class="font-row font-secondary">

                <blockquote class="blockquote">
                  <p class="mb-0">  &nbsp; I am soo glad that you are stopping by & I can't be more excited to show you my profile.
                  I am a Javascript developer & I've created this protal to show case my skill. Please get in touch for anything else
                </blockquote>

              </div>
            </div>
          </nb-card-body>
        </nb-card>


      </div>

    </div>
  </div>
