<nb-card size="medium">
  <nb-card-header>
    <div class="sub-title">- Hi there!</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
      </div>

      <div style="text-align: center">
        <img class="profile-pic" src="assets/images/shreddingsam.jpg" alt="Avatar" style="">
        <h5>Shashank</h5>
        <p> <b>Javascript | React | Data Visualization | Full stack</b></p>
      </div>
      <br>
      <blockquote class="blockquote">
        <p class="mb-0"  style="font-size:15px">
          &nbsp;Ambitious computer enthusiast with strong experience in building pixel perfect intractive data visualization web apps and an active contributer of opensource.
        </p>
      </blockquote>

      <!-- <blockquote class="blockquote">
        <p class="mb-0"  style="font-size:15px">  &nbsp; Javascript developer with more than 3years of experience in building interactive web applications and an active community member of opensource projects.
      </blockquote> -->

      </div>
  </nb-card-body>
</nb-card>
