<nb-card size="medium">
  <nb-card-header>
    <div class="title">I say</div>
    <div class="sub-title">- Hi there!</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
      </div>

      <div style="text-align: center">
        <img class="profile-pic" src="assets/images/shwshank.jpg" alt="Avatar" style="">
        <h5>Shashank Bhattacharya</h5>
      </div>
      <blockquote class="blockquote">
        <p class="mb-0">  &nbsp; I am soo glad that you are stopping by & I can't be more excited to show you my profile.
        I am a Javascript developer & I've created this protal to show case my skill. 
      </blockquote>

      </div>
  </nb-card-body>
</nb-card>
