<nb-card size="medium">
  <nb-card-header>
    <div class="sub-title">- Hi there!</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
      </div>

      <div style="text-align: center">
        <img class="profile-pic" src="assets/images/shwshank.jpg" alt="Avatar" style="">
        <h5>Shashank B</h5>
        <p> <b> UX | Javascript | Angular | Data Visualization | TDD | Nodejs</b></p>
      </div>
      <br>
      <blockquote class="blockquote">
        <p class="mb-0"  style="font-size:15px">  &nbsp;  I am a Javascript developer & I am soo glad that you are stopping by. I can't be more excited to show you my profile.
      </blockquote>

      <!-- <blockquote class="blockquote">
        <p class="mb-0"  style="font-size:15px">  &nbsp; Javascript developer with more than 3years of experience in building interactive web applications and an active community member of opensource projects.
      </blockquote> -->

      </div>
  </nb-card-body>
</nb-card>
