@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .profile-pic{
    width:10rem;
    height:10rem;
    border-radius:50%;
    border: 2px solid nb-theme(green-theme);
    margin-bottom: 1rem;
  }
}
