<div class="row">

  <div class="col-md-12 col-xxl-12">
    <ngx-skill-para></ngx-skill-para>
  </div>

  <div  class="col-md-12 col-xxl-12">
    <nb-card size="xxlarge">
      <nb-card-header>
        <div class="sub-tile">
          Sawtooth Project Case Study - TLDR
        </div>
      </nb-card-header>
      <nb-card-body>
        <h4>
          <p>
            <b>
              Introduction
            </b>
          </p>
        </h4>

        <p style="font-size:15px">
          The Government of India has a centralized bidding platform for all vendors across the country. The platform is <b>GEM</b> i.e Govt. E-Marketplace. <b>NABL</b> i.e National Accreditation Board for Laboratories is a govt. body that provides accreditation to laboratories across the nation. In order to submit a bid by vendor on GEM, it is mandat that the product that vendor is bidding should be tested by one of the lab certified by NABL.
        </p>

        <h4>
          <p>
            <b>
              The issue
            </b>
          </p>
        </h4>


          <p style="font-size:15px">
            The process of submitting a bid is simple for a vendor. Vendor just needs to fill a form mentioning details of the product along with the report of the lab certificate.
          </p>

          <p style="font-size:15px">
            Issue is that the verification process of certificates used to be simple as well until recent months when the number of applications exceeds 5000 per month. GEM has to manually verify each and every certificate. And validation of one certificate my take some 'n' no. of weeks!

          </p>


        <h4>
          <p>
            <b>
              How sawtooth is helping the process
            </b>
          </p>
        </h4>

        <p style="font-size:15px">
          Labs that have been accredited by NABL have a unique identifier id for each lab. And every certificate issued by the lab has an id with initials as the id that is being issued by NABL. Labs are provided with a CRM system that is integrated with a sawtooth application layer.

        </p>


        <p style="font-size:15px">
          All of the ids and certificates involved in the process are recorded and are part of the chain consisting of all the records and participants.

        </p>

        <p style="font-size:15px">
          While applying for a bid in GEM, the vendor has to enter the certificate number that is issued by the lab after testing the product. The platform used by GEM has APIs integrated by which the request for verification of ids and certificates are initiated.
        </p>


        <h4>
          <p>
            <b>
              Why not traditional backend with a SQL DB
            </b>
          </p>
        </h4>

        <p style="font-size:15px">
          Like NABL there are more than 8 certifying bodies all over the country which issue certificates directly to the product owner or to 3rd party agencies that issue certificates. All of the certificates need to be stored without any fraudulent data.

        </p>


          <p style="font-size:15px">
            As per the future scope of the project, there will be multiple participants of the system and it is important that there should be a well-defined level of confidentiality and access should be provided to authorised participants.

          </p>


          <p style="font-size:15px">
            By implementing Sawtooth based blockchain integrity of data can be achieved with a constant chain of blocks that can be tampered even by the administrator. Only update operation can be performed along with log tracking. Thus by implementing Sawtooth based platform, a certain level of management of huge data is provided along with the solution to some of the most critical security problems.

          </p>

      </nb-card-body>
    </nb-card>
  </div>

</div>
