<nb-card style="height:1320px">
  <nb-card-header>
    <div class="title">2014 Till Now</div>
  </nb-card-header>
  <nb-card-body>

      <div class="container">
        <div>
          <div class="brandBox" style=" height: 200px !important ;padding-right: 10%; text-align:left">

            <nb-card>
              <blockquote class="blockquote" style="margin-top:10px !important">
                <h4 class="mb-0">  &nbsp; 2014 - Graduate  </h4>
              </blockquote>
            </nb-card>
                <h5>
                  <i style="color:#ffa100" class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
                  I did my graduation, Bechelor of Tech. CS </h5>

          </div>
          <div class="brandBox" style=" height: 300px !important ; padding-left: 30%; text-align:left" >
            <h4 >  &nbsp; <span style="font-size:15px" > Jan </span> 2015 - 2016 <span style="font-size:15px" > Dec </span> &nbsp; I worked in &nbsp;
              <span>  <i style="color: #006BB6; letter-spacing: 2px; font-weight:900; font-size:40px; background: white" >  HCL  </i>  </span> </h4>

              <h4>Projects &nbsp;  <img src="assets/images/pearson.png" alt="" width="150px"> &nbsp; & &nbsp; <img src="assets/images/salesforce.png" width="130px" alt=""> </h4>
              <h4>Got certified! &nbsp; <img src="assets/images/salesforce_admin.png" width="150px" alt="">  &nbsp;  &nbsp;  <i style="color: #e20f44 " class="fa fa-certificate fa-2x" aria-hidden="true"></i> </h4>

          </div>

          <div class="brandBox" style="height: 250px !important ; padding-right: 1%; text-align:left">
            <h4> 2017 <span style="font-size:15px" >Jan - July</span> I was with <img src="assets/images/invidev.png" width="200px"> SaaS startup,</h4>
            <h4> working on <img src="assets/images/times_group.jpg" alt="" width="200px"> project as &nbsp; <img src="assets/images/js.png" width="70px" style="margin-top:42px"> &nbsp; fullstack developer</h4>
          </div>

          <div class="brandBox" style=" height: 300px !important ; padding-left: 30%; text-align:left">

            <h4> <span style="font-size:15px"> Aug </span> 2017 - Present <img src="assets/images/qci.png" width="180px"></h4>
              <nb-card>
                <blockquote class="blockquote" style="margin-top:10px !important">
                  <h5 class="mb-0">  &nbsp; I am working in QCI, developing & maintaining web apps for various departments of the goverment.</h5>
                </blockquote>
              </nb-card>

              <h4>Some projects I've worked on <br>
                <img src="assets/images/coal_india.jpg" width="140px">
                <img src="assets/images/gem.jpg" width="130px">
                <img src="assets/images/make_in_india.png" width="160px">
              </h4>

          </div>
        </div>
      </div>

  </nb-card-body>
</nb-card>
