<nb-card style="height:1320px">
  <nb-card-header>
    <div class="title"> Timeline</div>
  </nb-card-header>
  <nb-card-body>

      <div class="container">
        <div>
          <div class="brandBox" style=" height: 170px !important ;padding-right: 10%; text-align:left">
            <blockquote class="blockquote" style="margin-top:10px !important; width: 65% !important;">
              <nb-card>
                <h4 class="mb-0"> <span style="font-size:15px" > Dec </span> 2019 - <span style="font-size:15px" > Present </span>  <span style="font-size:15px" > </span>  working in R Systems International
                  <img src="assets/images/rsi.png" width="60px">
                </h4>
                <p> &nbsp;  &nbsp;  <b> FrontEnd Developer </b> </p>
              </nb-card>
            </blockquote>

            <h4>Working on Data visualisation and Asset Tracking Dashboard </h4>

          </div>
          <div class="brandBox" style=" height: 350px !important ; padding-left: 30%; text-align:left" >
            <nb-card>
              <blockquote class="blockquote" style="margin-top:10px !important">
                <h4> <span style="font-size:15px"> June </span> 2017 - <span style="font-size:15px"> Nov </span>2019  <span style="font-size:15px"><i> (2Years, 6 months) </i> </span>  worked with QCI  </h4>
                <p> &nbsp;  &nbsp;  <b> FrontEnd Developer </b> </p>
              </blockquote>
            </nb-card>

            <h4>Some projects I've worked on <br>
              <img src="assets/images/coal_india.jpg" width="140px">
              <img src="assets/images/gem.jpg" width="130px">
              <img src="assets/images/qci.png" width="180px">
            </h4>
          </div>

          <div class="brandBox" style="height: 350px !important ; padding-right: 1%; text-align:left">
            <blockquote class="blockquote" style="margin-top:10px !important; width: 65% !important;">
              <nb-card>
                <h4 class="mb-0"> <span style="font-size:15px" > Jan </span> 2015 - <span style="font-size:15px" > Jan </span> 2017 <span style="font-size:15px" > (2Years) </span>  worked in &nbsp;
                  <span>  <i style="color: #006BB6; letter-spacing: 2px; font-weight:900; font-size:40px; background: white" >  HCL  </i>  </span>
                </h4>
                <p> &nbsp;  &nbsp;  <b> SFDC Admin </b> </p>
              </nb-card>
            </blockquote>


              <h4>Projects &nbsp;  <img src="assets/images/pearson.png" alt="" width="150px"> &nbsp; & &nbsp; <img src="assets/images/salesforce.png" width="130px" alt=""> </h4>
              <h4>Got certified &nbsp; <img src="assets/images/salesforce_admin.png" width="150px" alt="">  &nbsp;  &nbsp;  <i style="color: #e20f44 " class="fa fa-certificate fa-2x" aria-hidden="true"></i> </h4>

          </div>

          <div class="brandBox" style=" height: 300px !important ; padding-left: 30%; text-align:left">

            <nb-card>
              <blockquote class="blockquote" style="margin-top:10px !important">
                <h4 class="mb-0"> <span style="font-size:15px" > March </span> 2014 - <span style="font-size:15px" > Jan </span> 2015 <span style="font-size:15px" > (1Year) </span> &nbsp;  Innovative Medequs &nbsp;
                </h4>
                <p> &nbsp;  &nbsp;  <b> Fullstack Developer </b> </p>
              </blockquote>
            </nb-card>
                <h4 _ngcontent-c27="">Co-Founded & developed healthcare platform <br/>
                  <img src="assets/images/js.png" style="margin-top:42px" width="70px"> &nbsp; based tech stack
                </h4>

          </div>
          <div class="brandBox" style="height: 250px !important ; padding-right: 1%; text-align:left">
            <blockquote class="blockquote" style=" width: 65% !important;">
                <nb-card style='height: 45px !important'>
                <h4 class="mb-0">  &nbsp; 2014 - Graduate  </h4>
              </nb-card>
            </blockquote>
                <h5>
                  <i style="color:#ffa100" class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
                  I did my graduation, Bechelor of Technology - CS</h5>
          </div>
        </div>
      </div>

  </nb-card-body>
</nb-card>
