<nb-card size="xsmall">
  <nb-card-header>
    <div class="title">New Frameworks Everyday!</div>
    <div class="sub-title"></div>
  </nb-card-header>
  <nb-card-body>

    <p style="font-size:15px" >
      I have been trying to keep updated with the newest frameworks that are being added in JavaScript world.
      <br><br>
      Tracking new development and programming best practices is the activity that I enjoy during the initial hours of the day, spending most of the time checking issues and trying to answer on StackOverflow.
      <br><br>
      Being a subscriber of the open-source community and solving problems is what I am excited about.
    </p>

  </nb-card-body>
</nb-card>
