<div class="row">

  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <ngx-project></ngx-project>
  </div>

  <!-- <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <nb-card size="small">
      <nb-card-header>
        <div class="title">Description & Involvement</div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6"></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div> -->

</div>
