<nb-card size="large">
  <nb-card-header>
    <div class="sub-title">Not Just Another Blockchain</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <img src="assets/images/sawtooth.png"
        width="50%"
        alt=""
        class="center">
      </div>

      <div class="contentData">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Features best know by me:</h4>
            <h4>
              <ul>
                <li>Opensource and can be privately owned</li>
                <li>Maintained my Linux foundation</li>
                <li>Separation between application, core layers</li>
                <li>Layers can be coded in JS along with multiple languages</li>
              </ul>
            </h4>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">

            <blockquote class="blockquote">
              <h5>  &nbsp; One of the blockchain that can be scaled without compromising number of transactions which makes it ideal to use in applications with a huge traffic</h5>
            </blockquote>

            <blockquote class="blockquote">
              <h5>  &nbsp; I am a part of team deploying blockchain on a goverment palatform. NABL
                and GEM are primary users of initial implimentation
              </h5>
            </blockquote>

          </div>

        </div>

      </div>

      </div>
  </nb-card-body>
</nb-card>
