<nb-card size="medium">
  <nb-card-header>
    <div class="title">Framework & tools I use  frequetnly</div>
    <div class="sub-title"></div>
  </nb-card-header>
  <nb-card-body>

      <div class="row">

        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/react.png" alt="React" title="React" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/atom.png" alt="Atom" title="Atom" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/d3.png"  alt="D3.js" title="D3.js" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/enzyme.png"  alt="Enzyme" title="Enzyme" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/firebase.png"  alt="Firebase" title="Firebase" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/git.png"  alt="Git" title="Git" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/github.png" alt="Github" title="Github" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/jest.png" alt="Jest" title="Jest" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/lodash.png" alt="Lodash" title="Lodash" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/node.png" alt="Node" title="Node" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/npm.png" alt="npm" title="npm" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/pwa.png" alt="PWA" title="PWA" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/redux.png"  alt="Redux" title="Redux" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/ts.png" alt="Ts" title="Ts" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/jenkins.png" alt="Ts" title="Jenkins" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/webpack.png" alt="Ts" title="Webpack" width="115px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/next.png" alt="Ts" title="Next.js" width="125px" height="125px">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-centered">
          <img src="assets/images/stickers/powerbi.png" alt="Ts" title="Power Bi" width="125px" height="125px">
        </div>

      </div>

  </nb-card-body>
</nb-card>
