<div class="row">

  <div class="col-md-8 col-xxl-8">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-md-4 col-xxl-4">
    <ngx-about-summary></ngx-about-summary>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <ngx-project></ngx-project>
  </div>

  <div class="col-md-8 col-xxl-8">
    <ngx-tree-graph></ngx-tree-graph>
  </div>

  <div class="col-md-4 col-xxl-4">
    <ngx-pie-chart></ngx-pie-chart>
  </div>

  <div class="col-md-12 col-xxl-12">
    <ngx-skill-para></ngx-skill-para>
  </div>

  <div class="col-md-8 col-xxl-8">
    <ngx-skill-graph></ngx-skill-graph>
  </div>

  <div class="col-md-4 col-xxl-4">
    <ngx-kitten></ngx-kitten>
  </div>

</div>
